*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(17, 0, 255);
    height: 70px;
    font-size: 1.3rem;
    border: 5px solid rgb(3, 163, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    animation: border 10s  0s infinite;
    width: 100%;
    position: fixed;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px;
}
nav li{
    border-left: 3px solid #92ff03;
    border-right: 3px solid #92ff03;
    border-radius: 0% 60% 0% 60%;
    padding: 5px;

}
nav a{
    padding: 5px;
    color: white;
    text-decoration: none;
   
}
nav a:hover{
    border-top: 3px solid #03e2ff;
    border-bottom: 3px solid #16dcff;
    border-radius: 60% 0% 60% 0%;
}
nav a:active{
    color: blue;
    background-color: white;
}
body{
    background-color: rgb(100, 237, 255);
}
#main:hover nav a[href="index.html"]{
    border-top: 3px solid #03e2ff;
    border-bottom: 3px solid #16dcff;
    border-radius: 60% 0% 60% 0%;
}
#about:hover nav a[href="about.html"]{
    border-top: 3px solid #03e2ff;
    border-bottom: 3px solid #16dcff;
    border-radius: 60% 0% 60% 0%;
}

@keyframes border {
    0%{
        border: 5px solid rgb(3, 163, 255);
    }
    25%{
        border: 5px solid rgb(187, 25, 52);
    }
    50%{
        border: 5px solid rgb(33, 19, 228);
    }
    75%{
        border: 5px solid rgb(0, 146, 243);
    }
    100%{
        border: 5px solid rgb(186, 253, 2);
    }
}
#intro h1{
    color: rgb(91, 2, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#intro{
    padding-top: 100px;
    text-align: center;
    font-size: 2rem;
    
}
#developer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    color: rgb(116, 0, 248); ;
}
#intro img{
    width: 30%;
    height: 300px;
    border: 3px solid blueviolet;
    animation: border 30s  0s infinite;
    border-radius: 40%;
}
#thanks{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: #171724;
   color: #81cf1a;
   position: fixed;
   bottom: 0px;
   width: 100%;
   border: 5px solid black;
   animation: border 10s  0s infinite;
}
#background{
    padding-top: 100px;
}
#about{
    background-color: #058b9c;
}
#aboutme{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #00ffbf;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 2rem;
    color: blue;
}
#edu1{
    background-color: rgb(208, 255, 0);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: rgb(0, 0, 0);
    text-align: center;
   
}
#edu2{
    background-color: rgb(255, 217, 0);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: rgb(65, 18, 18);
    text-align: center;
}
#goal{
    background-color: rgb(255, 187, 0);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: rgb(10, 10, 5);
    text-align: center;
}
#values{
    background-color: rgba(255, 217, 0, 0.829);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: rgb(10, 10, 5);
    text-align: center;
}
#codeing{
    background-color: rgba(255, 9, 1, 0.829);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color: rgb(4, 0, 245);
    text-align: center;
}
